body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url("scribbl.jpg");
  background-repeat: repeat;
  background-size: 1500px;

}

#cover-page,
#spread-one,
#spread-two {
  display: none;
}

.book {
  width: 1000px;
  height: 700px;
  position: relative;
  z-index: 2;
}

.cover {
  display: none;
  width: 500px;
  height: 700px;
  position: absolute;
  left: 250px;
  top: 0;
  box-sizing: border-box;
  background-color: #4f72a8;
  border-left: 15px solid #36557f;
  border-radius: 5px 18px 18px 5px;
  box-shadow:
    8px 8px 0 white,
    15px 15px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.diary-title {
  width: 300px;
  margin: 80px auto;
  padding: 20px;
  background-color: white;
  font-size: 55px;
  text-align: center;
}

.spread {
  display: none;
  width: 1000px;
  height: 700px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow:
    10px 15px 25px rgba(0, 0, 0, 0.25);
}

.page {
  width: 50%;
  height: 100%;
  padding: 45px;
  box-sizing: border-box;
  background-color: rgb(243, 241, 238);
  background-image:
    linear-gradient(
      to right,
      transparent 50px,
      pink 51px,
      transparent 52px
    ),
    repeating-linear-gradient(
      to bottom,
      transparent 0px,
      transparent 39px,
      lightblue 40px
    );
  border: 1px solid lightgray;
}

.left-page {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 15px 0 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.right-page {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 15px 15px 0;
}

#cover-page:checked ~ .book .cover {
  display: block;
}

#spread-one:checked ~ .book .spread1 {
  display: block;
}

#spread-one:checked ~ .controls1 {
  display: block;
}

#spread-two:checked ~ .book .spread2 {
  display: block;
}

#spread-two:checked ~ .controls2 {
  display: block;
}

.controls {
  display: none;
}

.background-left,
.background-right {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  cursor: pointer;
  z-index: 1;
}

.background-left {
  left: 0;
}

.background-right {
  right: 0;
}

h1 {
  text-align: center;
  font-size: 38px;
  margin-top: -5px;
  margin-bottom: 30px;
}

p {
  text-align: center;
  line-height: 1.5;
  margin: 20px 0;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}

.pink {
  color: rgb(231, 123, 141);
}

.yellow {
  color: #b68603;
}

.basket {
  width: 100px;
  height: 50px;
  border: 3px solid green;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.apple {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  transition: 0.3s;
}

.apple:hover {
  transform: scale(1.5);
}

.peanut-butter {
  width: 25px;
  height: 40px;
  background-color: #b68603;
  border-radius: 5px;
  transition: 0.3s;
}

.peanut-butter:hover {
  transform: rotate(15deg);
}

.shelf {
  width: 300px;
  height: 40px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.blueberry-jam {
  width: 25px;
  height: 40px;
  background-color: blue;
  border-radius: 5px;
  transition: 0.3s;
}

.grape-jam {
  width: 25px;
  height: 40px;
  background-color: purple;
  border-radius: 5px;
  transition: 0.3s;
}

.strawberry-jam {
  width: 25px;
  height: 40px;
  background-color: rgb(231, 123, 141);
  border-radius: 5px;
  transition: 0.3s;
}

.blueberry-jam:hover,
.grape-jam:hover,
.strawberry-jam:hover {
  transform: translateY(-10px);
}

.pangolin-regular {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
   font-size: 50px;
}

.handlee-regular {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
}

.huninn-regular {
  font-family: "Huninn", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

.big {
  font-size: 38px;
  text-align: center;
  margin-top: 30px;
}